body {
    background-color: chocolate;

}

        .col-4 {
        background-color: lightpink;
      
    }
    
      .col-12 {
        background-color: rgb(132, 167, 167);
      }

    .pizza {
      padding: 1em;
      border: solid black 2px;
      font-family: 'Courier New', Courier, monospace;
    }
      

